.button {
  @include text-style('h3', $gray-10);

  width: 100%;
  border-radius: $radius-button;
  padding: 18px;
  background-color: $primary-medium;
  cursor: pointer;

  &.gray-20 {
    background-color: $gray-20;
    color: $gray-70;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
