.button {
  @include flexbox(center, center);
  @include text-style('body2', $gray-90);

  gap: 11px;
  width: 100%;
  border-radius: 16px;
  background: $gray-20;
  padding: 18px;
  cursor: pointer;
  transition: 0.3s ease;
  @include mobile-only() {
    padding: 14px;
  }

  &:disabled {
    background-color: $disabled;
  }
}

.primary {
  @include text-style('h3', $gray-10);
  background-color: $primary;
  &:hover {
    background-color: $primary-medium;
  }
}

.simple {
  background-color: $gray-10;
  color: $gray-100;
  font-size: $font-size-16;

  @include mobile-only() {
    //font-size: $font-size-12;
  }
}
