.button {
  @include flexbox(center, center);
  @include text-style('body2', $regular, $gray-90);

  gap: 11px;
  width: 100%;
  border-radius: 16px;
  background: $gray-20;
  padding: 18px;
  cursor: pointer;
}

.primary {
  @include text-style('h3', $bold, $gray-10);
  background-color: $primary-medium;
}
