$primary: #eb6723;
$primary-medium: #ff954d;
$primary-light: #fff3eb;

$secondary: #4aac78;
$tertiary: #5671e0;
$disabled: #b7b9be;
$background: #f6f6f8;

$gray-10: #ffffff;
$gray-20: #f6f6f6;
$gray-30: #f0f0f0;
$gray-40: #e5e5e5;
$gray-50: #d6d6d6;
$gray-60: #bbbbbb;
$gray-70: #949494;
$gray-80: #757575;
$gray-90: #393939;
$gray-100: #1e1e1e;
$black: #000000;
