$primary: #ff8717;
$primary-hover: #ff9838;
$primary-light: #ffba09;

$negative: #ff4242;
$positive: #32f900;

$white: #ffffff;
$gray-100: #fbfbfb;
$gray-200: #f9f9f9;
$gray-300: #c2c2c2;
$gray-600: #8f8f8f;
$gray-700: #373737;
$gray-900: #11100e;
$black: #000000;
