@import 'base/_fonts';
@import 'base/_reset';
@import 'base/_normalize';
@import 'base/mixins';

*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Pretendard', 'Pretendard Variable', sans-serif;
}

#__next,
html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Pretendard', 'Pretendard Variable', '-apple-system', 'BlinkMacSystemFont', system-ui,
    'Roboto', 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Apple Color Emoji', sans-serif;
  font-weight: $regular;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: $md-breakpoint;
}
