@import 'base/_fonts';
@import 'base/_reset';
@import 'base/_mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Pretendard', 'Pretendard Variable', sans-serif;
}

#__next,
html,
body {
  box-sizing: border-box;
  width: 100%;
  font-family: 'Pretendard', 'Pretendard Variable', '-apple-system', 'BlinkMacSystemFont', system-ui,
    'Roboto', 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Apple Color Emoji', sans-serif;
  font-weight: $regular;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  .env_var {
    font-size: 14px;
    color: $gray-70;
    position: fixed;
    bottom: 0;
    right: 3px;
  }
}

input,
textarea,
button {
  font-family: inherit;
}

.container {
  margin: 0 auto;
  //padding: 0 16px;
}

.mobile-screen-only {
  @include column-flexbox(space-between, stretch);
  max-width: $sm-breakpoint;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}
