.login-container {
  background-color: $gray-20;
  margin: 0 auto;
  padding: 16px;
  height: 100%;
}

.btn-wrap {
  @include column-flexbox(center, center);
  gap: 12px;
  margin: 32px 0 16px;
}

.hidden {
  @include hidden;
}
