/* ------- text style -------- */
@mixin text-style($style, $color: $black) {
  @if ($style == 'h1') {
    @include text-style-h1;
  }
  @if ($style == 'h2') {
    @include text-style-h2;
  }
  @if ($style == 'h3') {
    @include text-style-h3;
  }
  @if ($style == 'title') {
    @include text-style-title;
  }
  @if ($style == 'body1') {
    @include text-style-body1;
  }
  @if ($style == 'body2') {
    @include text-style-body2;
  }
  @if ($style == 'caption1') {
    @include text-style-caption1;
  }
  @if ($style == 'caption2') {
    @include text-style-caption2;
  }

  @if ($color) {
    color: $color;
  }
}

/* -------- flex ---------- */
$flex-map: (
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
  stretch: stretch,
  center: center,
);

@function flex-value($key) {
  @return map-get($flex-map, $key);
}

@mixin flexbox($jc: start, $ai: start) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin inline-flexbox($jc: start, $ai: start) {
  display: inline-flex;
  align-items: flex-value($ai);
  justify-content: flex-value($jc);
}

@mixin column-flexbox($jc: start, $ai: start) {
  display: flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: $ai;
}

/* ------- responsive ---------- */

@mixin responsive($screen) {
  @if ($screen == 'T') {
    @media screen and (max-width: $md-breakpoint) {
      @content;
    }
  }
  @if ($screen == 'D') {
    @media screen and (max-width: $lg-breakpoint) {
      @content;
    }
  }
  @media screen and (max-width: $screen) {
    @content;
  }
}

@mixin mobile-only() {
  @media screen and (max-width: $md-breakpoint - 1px) {
    @content;
  }
}

/* ---------- etc ----------- */

@mixin hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
}

@mixin word-spacing {
  word-wrap: break-word;
  word-break: keep-all;
  white-space: break-spaces;
}

@mixin text-shorten {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=($opacity * 100));
}

/* -------- text styles (개별) -------- */
@mixin text-style-h1() {
  font-size: $font-size-26;
  line-height: $line-height-34;
  font-weight: $bold;
}
@mixin text-style-h2() {
  font-size: $font-size-18;
  line-height: $line-height-24;
  font-weight: $bold;
}
@mixin text-style-h3() {
  font-size: $font-size-16;
  line-height: $line-height-22;
  font-weight: $bold;
}
@mixin text-style-title() {
  font-size: $font-size-16;
  line-height: $line-height-22;
  font-weight: $regular;
}
@mixin text-style-body1() {
  font-size: $font-size-14;
  line-height: $line-height-20;
  font-weight: $bold;
}
@mixin text-style-body2() {
  font-size: $font-size-14;
  line-height: $line-height-20;
  font-weight: $regular;
}
@mixin text-style-caption1() {
  font-size: $font-size-12;
  line-height: $line-height-16;
  font-weight: $regular;
}
@mixin text-style-caption2() {
  font-size: $font-size-10;
  line-height: $line-height-14;
  font-weight: $medium;
}
@mixin text-style-caption3() {
  font-size: $font-size-10;
  line-height: $line-height-14;
  font-weight: $regular;
}
